@import '../../../shared/styles/card';
@import '../../../shared/styles/variables';

.icon{
  font-size: 45px;
  text-align:right;
  margin-top:5px;
  margin-left:7px;
}

.title{
  text-align:left;
  margin-bottom:4px;
  margin-top:4px;
}

.card{
  background-color:white;
}

.newsContent{
  margin-top:5px;
  margin-bottom:5px;
}

.fa-calendar{
  color:black;
}

.card{
  transition: margin 0.5s;

  .success, .default{
    width:134px;
  }
  .action{
    padding:0.85em;
    padding-bottom:0;
  }

  .titleContent{
    margin-top:0;
    padding-top:0;
  }
}

.subtype, .type{
  .button{
    color:white;
  }
}

.newsListContent{
  margin-bottom:20px;
}


.flexContainer{

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;

  margin-top:15px;

  .fa-pencil-square-o, .fa-times{
    color:$titleColor;
    font-size: 20px;
  }
  .fa-pencil-square-o:hover, .fa-times:hover{
    cursor: pointer;
  }

}

.newsContent{
  margin-right:0;
  .notification{
    background-color:rgb(139,195,74);
    color:white;
    min-height: 15%;
    .titleNotif{
      text-align: center;
      font-size:20px;
    }
    .icons{
      font-size: 40px;
      transition: font-size 0.5s;

    }

    .fa-times:hover, .fa-check:hover{
      font-size:50px;
      cursor:pointer;
      transition: font-size 0.5s;
    }

  }

}


textarea{
  resize: none;
}
