<div *ngIf="pageState=='general'">
    <div class="row newsContent ">
        <div class="cardDiv large-10 large-offset-1 columns panel ">
            <div class="card">
                <div class="row flexContainer">
                    <div class="editDelete large-1 columns end">
                        <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="editNews()"></i>
                        <i class="fa fa-times" aria-hidden="true" (click)="openConfirmation()"></i>
                    </div>
                </div>
                <div class="content row titleContent">
                    <div class="large-9 columns">
                        <p>{{news.newsFrom}}: {{news.title}}
                        </p>
                    </div>
                    <div class="large-3 columns">
                        <i class="fa fa-calendar" aria-hidden="true"></i> {{news.date}} at {{news.hour}}
                    </div>
                </div>
                <div class="action row">
                    <div class="large-7 columns">
                        {{news.content}}
                    </div>
                    <div class="large-2 large-offset-1 columns type ">
                        <div *ngIf="news.type=='Info'">
                            <a class="button success">{{news.type}} </a>
                        </div>
                        <div *ngIf="news.type=='Infrastructure'">
                            <a class="button alert">{{news.type}} </a>
                        </div>
                        <div *ngIf="news.type=='Process'">
                            <a  class="button default">{{news.type}} </a>
                        </div>
                    </div>
                    <div class="large-1 columns subtype end">
                        <a class="button secondary">
                            {{news.subtype}}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div *ngIf="pageState=='delete'">
    <div class="row newsContent ">
        <div class="cardDiv large-10  columns panel ">
            <div class="card">
                <div class="row flexContainer">
                    <div class="editDelete large-1 columns end">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <i class="fa fa-times" aria-hidden="true" data-open="exampleModal2"></i>
                    </div>
                </div>
                <div class="content row titleContent">
                    <div class="large-9 columns">
                        <p>{{news.newsFrom}}: {{news.title}}
                        </p>
                    </div>
                    <div class="large-3 columns">
                        <i class="fa fa-calendar" aria-hidden="true"></i> {{news.date}} at {{news.hour}}
                    </div>
                </div>
                <div class="action row">
                    <div class="large-7 columns">
                        {{news.content}}
                    </div>
                    <div class="large-2 large-offset-1 columns type ">
                        <div *ngIf="news.type=='Info'">
                            <a class="button success">{{news.type}} </a>
                        </div>
                        <div *ngIf="news.type=='Infrastructure'">
                            <a class="button alert">{{news.type}} </a>
                        </div>
                        <div *ngIf="news.type=='Process'">
                            <a class="button default">{{news.type}} </a>
                        </div>
                    </div>
                    <div class="large-1 columns subtype end">
                        <a class="button secondary">
                            {{news.subtype}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="notificationDelete large-2 columns panel">
            <div class="titleNotif">
                Delete news definitly?
            </div>
            <br/>
            <div class="row icons">
                <div class="yes large-1 large-offset-1 columns">
                    <i class="fa fa-check" aria-hidden="true" (click)="deleteItem()"></i>
                </div>
                <div class="no large-1 large-offset-4 columns end">
                    <i class="fa fa-times" aria-hidden="true" (click)="initializeConfirmDelete()"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="pageState=='edit'">
    <div class="row newsContent">
        <div class="cardDiv large-10 columns panel ">
            <div class="card">
                <div class="row flexContainer">
                    <div class="editDelete large-1 columns end">
                        <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="editNews()"></i>
                        <i class="fa fa-times" aria-hidden="true" (click)="openConfirmation()"></i>
                    </div>
                </div>
                <div class="content row titleContent">
                    <div class="large-2 columns">
                        <select [(ngModel)]="news.newsFrom" required>
                            <option *ngFor="let from of newsFromValues" ng-value="from">{{from}}</option>
                        </select>
                    </div>
                    <div class="large-5 columns">
                        <input type="text" required
                               [(ngModel)]="news.title"/>
                    </div>
                    <div class="large-3 columns">
                        <i class="fa fa-calendar" aria-hidden="true"></i> {{news.date}} at {{news.hour}}
                    </div>
                </div>
                <div class="action row">
                    <div class="large-7 columns">
                        <textarea required name="message" [(ngModel)]="news.content"
                                  #spy rows="5" cols="30">
                        </textarea>
                    </div>
                    <div class="large-2 large-offset-1 columns type ">
                        <select [(ngModel)]="news.type" required>
                            <option *ngFor="let type of typesValues" ng-value="type">{{type}}</option>
                        </select>
                    </div>
                    <div class="large-2 columns subtype end">
                        <select [(ngModel)]="news.subtype" required>
                            <option *ngFor="let subtypes of subtypesValues" ng-value="subtypes">{{subtypes}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="notificationUpdate large-2 columns panel">
            <div class="titleNotif">
                Save news ?
            </div>
            <br/>
            <div class="row icons">
                <div class="yes large-1 large-offset-1 columns">
                    <i class="fa fa-check" aria-hidden="true" (click)="saveItem()"></i>
                </div>
                <div class="no large-1 large-offset-4 columns end">
                    <i class="fa fa-times" aria-hidden="true" (click)="cancelEditing()"></i>
                </div>
            </div>
        </div>
    </div>
</div>
