<div class="row newsContent">
    <div class="large-10 large-centered columns">
        <div class="card">
            <div class="content row">
                <div class="large-9 columns">
                    <p>{{news.newsFrom}}: {{news.title}}
                    </p>
                </div>
                <div class="large-3 columns">
                    <i class="fa fa-calendar" aria-hidden="true"></i> {{news.date}} at {{news.hour}}
                </div>
            </div>
            <div class="action row">
                <div class="large-7 columns">
                    <a (click)="redirectToSpecificNews(news.id)" >more information</a>
                </div>
                <div class="large-2 large-offset-1 columns type ">
                    <div *ngIf="news.type=='Info'">
                        <a href="#" class="button success">{{news.type}} </a>
                    </div>
                    <div *ngIf="news.type=='Infrastructure'">
                        <a href="#" class="button alert">{{news.type}} </a>
                    </div>
                    <div *ngIf="news.type=='Process'">
                        <a href="#" class="button default">{{news.type}} </a>
                    </div>
                </div>
                <div class="large-1 columns subtype end">
                    <a href="#" class="button secondary">
                        {{news.subtype}}</a>
                </div>
            </div>
        </div>
    </div>
</div>

