@import '../../../styles/variables';

.menuItem, h1{
  color: $menuFontColor;
}

.menuIcon{
  color:white;
  font-size: 40px;
  margin-top:15px;
}

.menuItem{
  margin-left:10px;
  font-size:20px;
}

#item2, #item3{
  margin-left:40px;
}

.menuItem:hover{
  border-top: 4px solid white;
}

.navBar{
  padding-bottom:10px;
}

.fa-bars, .fa-home{
  cursor: pointer;
}

.fa-bars:hover, .fa-home:hover{
  opacity:0.8;
}