@import "../../../core/item-list/item-list.component";

.languageItem{
  text-align: center;

  .fa{
    cursor: pointer;
    font-size: 1.5em;
  }

  .confirmation{
    background-color:green;
  }


  .notificationDelete{
    height:66.59px;
    background-color:rgb(167,73,65);
  }
  .notificationUpdate{
    height:121px;
    background-color:rgb(139,195,74);
  }
  .notificationUpdate, .notificationDelete{
    color:white;
    .titleNotif{
      text-align: center;
      font-size:20px;
    }
    .icons{
      font-size: 40px;
      transition: font-size 0.5s;

    }

    .fa-times:hover, .fa-check:hover{
      font-size:41px;
      cursor:pointer;
      transition: font-size 0.5s;
    }

  }
  transition: margin 0.5s;


}

.languageItem:hover{
  margin-top:10px;
  margin-bottom:10px;
  transition: margin 0.5s;
  //transition: transform 1s;
  transition: margin 0.5s;

  .card{

    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.16), 0 2px 20px 0 rgba(0, 0, 0, 0.12);
  }
  .notificationUpdate, .notificationDelete{
    maring-top:160px;
  }
}



