<div class="row languageItem">
    <div class="card columns " [ngClass]="descriptionClass">
        <div class="content">
            <div class="row">
                <div *ngIf="pageState==='general' || pageState==='delete'">
                    <div class=" large-10 columns description">
                        <p> {{language.name}}</p>
                    </div>

                    <div *ngIf="pageState==='general'">
                        <div class="large-2 columns">
                            <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="editLanguage()"></i>
                            <i class="fa fa-times" aria-hidden="true" (click)="deleteLanguage()"></i>
                        </div>
                    </div>
                </div>

                <div *ngIf="pageState==='edit'">
                    <div class=" large-12 columns description">
                        <label>Edit language name
                            <input type="text" placeholder="" required
                                   [(ngModel)]="content"/>
                        </label>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div *ngIf="pageState==='edit'" class="confirmation large-2 end columns  notificationUpdate">
        Save modifications ? <br/>
        <i class="fa fa-check" aria-hidden="true" (click)="confirmEdit()"></i>
        <i class="fa fa-times" aria-hidden="true" (click)="cancelAction()"></i>
    </div>

    <div *ngIf="pageState==='delete'" class="confirmation large-2 end columns notificationDelete">
        Confirm delete? <br/>
        <i class="fa fa-check" aria-hidden="true" (click)="confirmDelete()"></i>
        <i class="fa fa-times" aria-hidden="true" (click)="cancelAction()"></i>
    </div>
</div>

