<div class="classic" >
    <div class="main">
        <div class="centeredElement">
            <div class="row">
                <div class="time large-5 large-offset-1 columns">
                    <img src="../../../../assets/homepage/time.png">
                </div>
                <div class="diagram large-5 columns end">
                    <img src="../../../../assets/homepage/diagram.png">
                </div>
            </div>

            <div class="row">
                <div class="arrow large-5 large-offset-1 columns">
                    <img src="../../../../assets/homepage/arrow.png">
                </div>
                <div class="chrono large-5 columns end">
                    <img class="chronoImage" src="../../../../assets/homepage/chrono.png">
                </div>
            </div>
            <div class="titleContent row columns">
                <div class="title">
                    <h1><a> Metrics</a></h1>
                </div>
            </div>
        </div>
    </div>
</div>
