@import '../../../../styles/card';

.main {

  border: 3px solid rgb(0,99,167);
  border-radius: 5px;
  margin-bottom:20px;

}

h3, .icon{
  font-family: 'Calibri', sans-serif;
  color:rgb(0,99,167);
}

.icon{
  font-size: 45px;
  text-align:right;
  margin-top:5px;
  margin-left:7px;
}

.title{
  text-align:left;
  margin-bottom:4px;
  margin-top:4px;
}

.card{
  background-color:white;
}

.newsContent{
  margin-top:5px;
  margin-bottom:5px;
}

.fa-calendar{
  color:black;
}
.card{
  transition: margin 0.5s;
  //transition: transform 1s;

  .success, .default{
    width:134px;
  }
  .action{
    padding:0.85em;
    padding-bottom:0;
  }
}

.subtype, .type{
  .button{
    color:white;
  }
}

.newsListContent{
  margin-bottom:20px;
}

