@import '../../../../styles/main';
@import '../../../../styles/variables';

.buttonUpDown > div > i{
  font-style:normal;
}

.row > .buttonUpDown > div > i:hover{
  color:$titleColor;
  opacity: 0.5;
}

.buttonUpDown{
  color:$titleColor;
  font-size:35px;
  font-style: normal;
  cursor: pointer;
  margin-top:7px;
}