<div *ngIf="pageToShow==0">
    <connection-content (redirectHomePage)="openPage($event)" ></connection-content>
</div>
<div *ngIf="pageToShow==1">
    <home
        (pageToOpen)="openPage($event)"
    ></home>
</div>
<div *ngIf="pageToShow==3">
    <news
            (pageToOpen)="openPage($event)"
    ></news>
</div>

<div *ngIf="pageToShow==2">
    <div class="header">
        <header currentFrameValue="{{pageName}}" linksName="{{linksName}}" routerLinks="{{routerLinks}}"
                (pageToOpen)="openPage($event)"
        ></header>
    </div>
    <router-outlet ></router-outlet>
</div>


<div *ngIf="pageToShow==4">
    <metrics
            (pageToOpen)="openPage($event)"
    ></metrics>
</div>

