<div class="main">
    <div class="row ">
        <div class="title row">
            <div class="large-3 large-offset-1 columns">

                <i class="fa fa-home" aria-hidden="true" (click)="openPage(1)"></i>
            </div>
            <div class="large-4 columns end">

                <h1>Metrics </h1>
            </div>

        </div>
        <div class="row">
            <div *ngFor="let item of metricsItemRow1">

                <div class=" {{item.responsive}} columns">
                    <m-panel
                            name="{{item.name}}"
                            pathImage="{{item.pathImage}}"
                            color="{{item.color}}"
                            description="{{item.description}}"
                            icon="{{item.icon}}"

                            (openLink)="openPage($event)"
                    ></m-panel>
                </div>
            </div>

        </div>
        <br/>
        <div class="row">
            <div *ngFor="let item of metricsItemRow2">

                <div class=" {{item.responsive}} columns">
                    <m-panel
                            name="{{item.name}}"
                            pathImage="{{item.pathImage}}"
                            color="{{item.color}}"
                            description="{{item.description}}"
                            icon="{{item.icon}}"

                            (openLink)="openPage($event)"
                    ></m-panel>
                </div>
            </div>
        </div>
    </div>
</div>