@import "../../../styles/main";
@import "../../../styles/_variables";

h1{
  text-align:center;
  color:$titleColor;
}

.main{
  min-height:100%;
  background-color:$mainBackgroundColor;
}

.fa-home{
  font-size:40px;
  color:$titleColor;
  cursor: pointer;
  font-style: normal;
}


.fa-home:hover{
  opacity:0.8;
}