$headerBackground : rgb(0,99,167);

$menuFontColor : white;

$titleColor : rgb(0,99,167);

$colorButton: rgb(26,177,136);

$other-color : rgba(255,255,255,0.6);

$mainBackgroundColor: rgb(234, 235, 237);