@import '../../../shared/styles/main';
@import '../../../shared/styles/variables';

.main{
  .contentForm, .rowSelect{
    padding:0px;
  }
  h2{
    color:$titleColor;
  }

  textarea{
    resize: none;
  }

  .row > .buttonUpDown > div > i{
    font-style:normal;
  }

  .row > .buttonUpDown > div > i:hover{
    color:$titleColor ;
    opacity: 0.5;
  }

  .buttonUpDown{
    color:$titleColor;
    font-size:35px;
    font-style: normal;
    cursor: pointer;
    margin-top:7px;
  }

  .buttonUpDown:hover{

  }
}



/**
* CSS for desktop screen
**/
@media only screen and (min-width: 64.063em) {

  .checkBoxDiv{
    margin-left:38px;
  }


}

/**
* CSS for tablet in landscape view
**/
@media only screen and (max-width: 64.063em) and (min-width:40.063em) {

  .medium-4{
    padding:0px;
  }

  .buttonDiv{
    margin-left:0px;
  }

}



