@import '../../../shared/styles/main';
@import '../../../shared/styles/variables';

.contentForm, .rowSelect{
  padding:0px;
}
h2{
  color:$titleColor;
}

textarea{
  resize: none;
}


/**
* CSS for desktop screen
**/
@media only screen and (min-width: 64.063em) {

  .checkBoxDiv{
    margin-left:38px;
  }


}

/**
* CSS for tablet in landscape view
**/
@media only screen and (max-width: 64.063em) and (min-width:40.063em) {

  .medium-4{
    padding:0px;
  }

  .buttonDiv{
    margin-left:0px;
  }

}



