
<div class="row">
    <div class="large-offset-4 large-4 medium-4 medium-offset-4 small-4 small-offset-4 columns end">
        <label>
             <h2><i class="fa fa-list-alt" aria-hidden="true"></i> Projects list</h2>
        </label>
    </div>
</div>

<div class="row">
    <add-project
            projectList="{{projectList}}"
            (sendProject)="addProject($event)"
    ></add-project>
</div>

<div class="row">
    <project-list
            newProject="{{newProject}}"
    ></project-list>
</div>