@import '../../../shared/styles/_variables';

h2{
  color:$titleColor;
}

.postfix{
  margin-top:10px;
}

.buttonCell{

  vertical-align: middle;
  .info{
    width:100%;
  }
}
.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

.filling_error{
  background: rgba(169,68,66,0.8);
  text-align:center;
  vertical-align:middle;
  padding-top:10px;
  padding-bottom:10px;


  .error_message{
    color:white;
  }
  label{

  }
}