.titleApp{
  text-align: center;
  color:rgb(0,99,167);
}

.connectionContent{
  background:url("../../assets/connection/connection_background2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width:100%;
  height:100%;
}

.contentForConnection{
  padding-top: 12%;
}
.login-box, .login-boxPortrait {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  //margin: 20px 0;
  padding: 20px 20px 0 20px;
}


.loginContent{

  vertical-align:middle;
  display: inline-block
}


.loginError{
  width:100%;
  text-align: center;
  background: rgba(169,68,66,0.8);
  color:white;
  border: 1px solid rgba(169,68,66,0.8);
  border-radius: 8px;
  height:50px;
  padding-top:10px;
  padding-bottom:10px;
  margin-left:0px;

}

/**
* Design for views in portrait
**/
.login-boxPortrait {
  background:rgba(255,255,255,0.8);
  padding-top:0;
}

.loginContentPortrait{
  padding-top:40%;
  position:absolute;
  z-index: 888;
}

.globePortrait{
  top:25%;
  position:absolute;
  z-index:0;
}

/**
* CSS for desktop screen
**/
@media only screen and (min-width: 64.063em){
  .loginContent{
    //padding-top:10%;
  }

  .titleApp{
    margin-top:30px;
  }

}

/**
* CSS for tablet in landscape view
**/
@media only screen and (max-width: 64.063em) and (min-width:40.063em) {
  .loginContent {
    //padding-top: 10%;
  }
}

/**
* CSS for smartphone in landscape view
**/
@media only screen and (max-height:40em) {

  h1{
    font-size: 25px;
    margin-top: 2%;
  }

  .contentForConnection{
    padding-top:2%;
  }

  .globe{
    display:flex;
    align-items: center;
    justify-content: center;
  }

}

/**
* CSS for devices in portrait view
**/
@media only screen and (orientation:portrait){
  .connectionContent{
    background:url("../../assets/connection/connection_background3.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
  }
  h1{
    margin-top: 5%;
  }
}

//display: inline-block
// vertical-align:middle;