<div class="connectionContent">
    <div class="row">
        <div class="titleApp large-12 medium-12 small-12 columns large-centered">
            <h1> Metrics & Performance Portal</h1>
        </div>
    </div>
    <div class="contentForConnection show-for-landscape">
        <div class="contentRow row align-middle">
            <div class="globe large-6 medium-up-5 medium-5 small-5 columns ">
                <img src="../../assets/connection/globe.png">
            </div>

            <div class="loginContent large-5 large-offset-1  medium-up-5 medium-6 small-up-5 small-7 columns end">
                <div [hidden]="!connectionFailed"
                     class="loginError large-4 large-offset-8 medium-6 medium-centered small-7 small-centered columns">
                    {{errorMessage}}
                </div>
                <div class="login-box">
                    <div class="row">
                        <div class="large-12 columns">
                            <div *ngIf="currentPageValue == 1" class="error">
                                <log-in (sendUser)="sendUser($event)"></log-in>
                            </div>
                            <div *ngIf="currentPageValue == 2" class="error">
                                <change-pwd (sendUser)="sendUser($event)"
                                            *ngIf="user" user-generated="{{user.generatedPwd}}" user-id="{{user.userId}}"></change-pwd>
                            </div>
                            <div *ngIf="currentPageValue == 3" class="error">
                                <forgot-pwd (sendUser)="sendUser($event)"
                                            *ngIf="user" user-generated="{{user.generatedPwd}}" user-id="{{user.userId}}"></forgot-pwd>
                            </div>
                            <div *ngIf="currentPageValue == 4" class="error">
                                <confirmation-email-sent (sendUser)="sendUser($event)"
                                                         *ngIf="user"></confirmation-email-sent>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contentForConnectionPortrait show-for-portrait">
        <div class="contentRowPortrait row align-middle">
            <div class="globePortrait large-6 medium-11 small-12columns">
                <img src="../../assets/connection/globe.png">
            </div>

            <div class="loginContentPortrait large-5 large-offset-1  medium-10 medium-offset-1  small-12 columns end">
                <div [hidden]="!connectionFailed"
                     class="loginError large-4 large-offset-8 medium-6 medium-centered small-7 small-centered columns">
                    {{errorMessage}}
                </div>
                <div class="login-boxPortrait">
                    <div class="row">
                        <div class="large-12 columns">
                            <div *ngIf="currentPageValue == 1" class="error">
                                <log-in (sendUser)="sendUser($event)"></log-in>
                            </div>
                            <div *ngIf="currentPageValue == 2" class="error">
                                <change-pwd (sendUser)="sendUser($event)"
                                            *ngIf="user" user-generated="{{user.generatedPwd}}" user-id="{{user.userId}}"></change-pwd>
                            </div>
                            <div *ngIf="currentPageValue == 3" class="error">
                                <forgot-pwd (sendUser)="sendUser($event)"
                                            *ngIf="user"></forgot-pwd>
                            </div>
                            <div *ngIf="currentPageValue == 4" class="error">
                                <confirmation-email-sent (sendUser)="sendUser($event)"
                                            *ngIf="user"></confirmation-email-sent>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>