.titleApp{
  text-align: center;
  color:rgb(0,99,167);

}

.connectionContent{
  background:url("../../assets/connection/connection_background2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width:100%;
  height:100%;
}

.contentForConnection{
  padding-top: 12%;
}

.login-box {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 20px 0;
  padding: 20px 20px 0 20px;
}

.loginError{
  width:100%;
  text-align: center;
  background: rgba(169,68,66,0.8);
  color:white;
  border: 1px solid rgba(169,68,66,0.8);
  border-radius: 8px;
  height:50px;
  padding-top:10px;
  padding-bottom:10px;
  margin-left:0px;

}

/**
* CSS for desktop screen
**/
@media only screen and (min-width: 64.063em){
  .loginContent{
    padding-top:10%;
  }

  .titleApp{
    margin-top:30px;
  }

}

/**
* CSS For tablet in landscape view
**/
@media only screen and (max-width: 64.063em) and (min-width:40.063em) {
  .loginContent {
    padding-top: 10%;
  }
}

/**
* CSS For tablet in "portrait" view
**/
@media only screen and (max-width: 64.063em) and (min-width:40.063em)
  and (min-height:63.063em ){

  .img{
    margin-left: 15px;
  }
  .contentForConnection{
    padding-top:10%;
  }

  .login-box {
    background:rgba(255,255,255,0.8);
  }

  .loginContent{
    padding-top:20%;
    position:absolute;
    z-index: 888;
  }
  .globe{
    position:absolute;
    z-index:0;
  }

  .contentRow{
    margin-top:10%;
  }
}


/**
* CSS For phone
**/
@media only screen and (max-width: 40em){

  h1{
    font-size: 20px;
    margin-top: 10px;
  }

  .connectionContent{
    background:url("../../assets/connection/connection_background3.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
  }

  .loginContent{
    padding-top:20%;
    position:absolute;
    z-index: 888;
  }


  .globe{
    position:absolute;
    padding-top: 20%;
    z-index:0;
  }


  .login-box {
    background:rgba(255,255,255,0.8);
  }

}
