@import '../../../shared/styles/card';


h3, .icon{
  color:rgb(0,99,167);
}

.icon{
  font-size: 45px;
  text-align:right;
  margin-top:5px;
  margin-left:7px;
}

.title{
  text-align:left;
  margin-bottom:4px;
  margin-top:4px;
}

.card{
  background-color:white;
}

.newsContent{
  margin-top:5px;
  margin-bottom:5px;
}