<div class="main">
    <div class="row">
        <div class="icon  large-1 columns">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        </div>
        <div class="title large-4 columns end ">
            <h3> Last news </h3>
        </div>
    </div>
    <div class="row">
        <div *ngFor="#news of newsList">
            <div class="row newsContent">
                <div class="large-10 large-centered columns">
                    <div class="card">
                        <div class="image">
                            <img src="{{pathImage}}">
                            <span class="title">  </span>
                        </div>
                        <div class="content row">
                            <div class="large-8 columns">
                                <p> Welcome to your new Angular 2 application !
                                </p>
                            </div>
                            <div class="large-4 columns">
                                items
                            </div>
                        </div>
                        <div class="action">
                            <a (click)="loginPage()">See the news !</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>