<div class="main">
    <div class="row">
        <div class="icon  large-1 columns">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        </div>
        <div class="title large-4 columns end ">
            <h3> Last news </h3>
        </div>
    </div>
    <div class="row newsListContent">
        <div *ngFor="#news of newsList">
            <div class="row newsContent">
                <div class="large-10 large-centered columns">
                    <div class="card">
                        <div class="image">
                            <span class="title"> {{news.title}} | {{news.date}} at {{news.hour}}</span>
                        </div>
                        <div class="content row">
                            <div class="large-8 columns">
                                <p>{{news.newsFrom}}: {{news.title}}
                                </p>
                            </div>
                            <div class="large-4 columns">
                                <i class="fa fa-calendar" aria-hidden="true"></i> {{news.date}} at {{news.hour}}
                            </div>
                        </div>
                        <div class="action row">
                            <div class="large-8 columns">
                                <a (click)="loginPage()" >more information</a>
                            </div>
                            <div class="large-4 columns">
                                {{news.type}} | {{news.subtype}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>