<div class="main">
    <div class="row">
        <div class="icon  large-1 columns">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        </div>
        <div class="title large-4 columns end ">
            <h3> Last news </h3>
            <div class="row">
                <div *ngFor="#news in newsList">
                    <div class="newsContent">
                        coucou
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>