@import '../../../../styles/variables';

.header {
  background-color: $headerBackground;
}

.main {
  background-color: $mainBackgroundColor;
  min-height: 100%;
  padding-top: 10px;
}

.news-box {

  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  //margin: 20px 0;
  padding: 0px 20px 0 20px;
}

.newsFilter {
  margin-bottom: 10px;
}