<br/>
<div class="row">
    <div class="large-8 large-centered large-8 large-centered columns">
        <div class="card">
            <div class="image">
                <img src="{{pathImage}}">
                <span class="title">  </span>
            </div>
            <div class="content">
                <p> Welcome to your new Angular 2 application !
                </p>
            </div>
            <div class="action">
                <a (click)="loginPage()">Explore !</a>
            </div>
        </div>
    </div>
</div>