<br/>
<div class="row">
    <div class=" large-4 columns">
        <card path="../../../assets/card/photo.png"
              content="Take a picture"
              description="Open camera"></card>
    </div>
    <div class="large-4 columns">
        <card path="../../../assets/card/configuration.png"
              content="Update the settings"
              description="Open settings"></card>
    </div>
    <div class="large-4 columns">
        <card path="../../../assets/card/music.png"
              content="Listen music"
              description="Open music"></card>
    </div>
</div>