<form (ngSubmit)="onSubmit()" #userForm="ngForm" class="main">
    <div class="row">

        <div class="card columns large-8 large-centered">

            <div class="row">
                <div class="showHide large-1 columns end">
                    <show-hide-button
                            (sendShowHide)="showHideForm($event)"
                    ></show-hide-button>
                </div>
                <div class="titleForm large-6 columns end">
                    <h3>Add project</h3>
                </div>

            </div>
            <div *ngIf="showForm==true">
                <div class=" large-10 columns description">
                    <label>Language name
                        <input type="text" placeholder="" required
                               />
                    </label>
                </div>
                <div class=" large-2 columns buttonRow ">
                    <button type="submit" class="button info" [disabled]="!userForm.form.valid">Submit</button>

                </div>
            </div>

        </div>
    </div>
</form>