<html>
<head>
    <base href="/">
    <title>MPS Perf & Metrics Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/main.css">

    
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
    
    <!-- project:css -->
    <!-- endinject -->

    <!-- inject:css -->
    <!-- endinject -->
</head>

<!-- 3. Display the application -->
<body>
    <app>Loading...</app>

    <script>
        // Fixes undefined module function in SystemJS bundle
        function module () {
        }
    </script>

    <!-- 1. Load libraries -->
    <!-- IE required polyfills, in this exact order -->
    <!-- shims:js -->
    <!-- endinject -->

    <!-- libs:js -->
    <!-- endinject -->

    <!-- project:js -->
    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->

    <% if (ENV === 'dev') { %>
    <script>
        System.import('app').catch(function (err) {
            console.error(err);
        });
    </script>
    <% } %>
</body>
</html>