<div class="row"><h2> Log in </h2> </div>

<form>
    <div class="row">
        <div class="large-4 large-offset-2 columns">
            <label>Full Name
                <input type="text" placeholder="First and last name"/>
            </label>
        </div>
        <div class="large-4 columns end">
            <div class="row collapse">
                <label>Email address</label>
                <div class="small-9 columns">
                    <input type="text" placeholder=""/>
                </div>
                <div class="small-3 columns">
                    <span class="postfix">@amadeus.com</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-4 large-offset-2 columns">
            <label> User type
                <select>
                    <option value="husker">Admin</option>
                    <option value="starbuck">Operational</option>
                    <option value="hotdog">Developer</option>
                    <option value="apollo">Manager</option>
                </select>
            </label>
        </div>
    </div>

</form>