<form (ngSubmit)="onSubmit()">
    <label><h3>Login</h3></label>
    <div class="row">
        <div class="large-12 columns">
            <div class="row iconAndInput">
                <div class="iconContent large-1 medium-2 small-2 columns" data-equalizer-watch >
                    <i class="fa fa-user" ></i>
                </div>
                <div class="inputContent large-11 medium-10 small-10 columns end " data-equalizer-watch>
                    <input type="text" name="login" [(ngModel)]="user.login"
                           placeholder="Username"
                           required />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns ">
            <div class="row iconAndInput" data-equalizer data-equalize-on="large" >
                <div class="iconContent large-1 medium-2  small-2 columns" data-equalizer-watch >
                    <i class="fa fa-key" ></i>
                </div>
                <div class="inputContent large-11 medium-10 small-10 columns end" data-equalizer-watch>
                    <input type="password" name="password" [(ngModel)]="user.password"
                           placeholder="Password" required/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-6 medium-6 small-6 columns">
            <input type="submit" class="button expand" value="Log In"/>
        </div>
        <div class="large-6 medium-6 small-6 medium-centered large-centered columns">
            <div class="forgotContact text-right">
                <a (click)="displayPassword">Forgot password </a><br>
                <a href="{{emailContent}}"> Contact us </a>
            </div>
        </div>
    </div>
</form>