<form (ngSubmit)="onSubmit()">
    <label><h3>Login</h3></label>
    <div class="row">
        <div class="large-12 columns">
            <input type="text" name="login" [(ngModel)]="user.login"
                   placeholder="Username"
                   required/>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <input type="password" name="password" [(ngModel)]="user.password"
                   placeholder="Password" required/>
        </div>
    </div>
    <div class="row">
        <div class="large-6 medium-6 small-6 columns">
            <input type="submit" class="button expand" value="Log In"/>
        </div>
        <div class="large-6 medium-6 small-6 medium-centered large-centered columns">
            <div class="forgotContact text-right">
                <a (click)="displayPassword">Forgot password </a><br>
                <a href="{{emailContent}}"> Contact us </a>
            </div>
        </div>
    </div>
</form>