
.iconContent{
  font-size: 25px;
  color:white;
  background-color:rgb(0,99,167);
  height:39px;
  text-align: center;
  padding:0px;
}

.inputContent{
  padding-left:0px;
}
.iconAndInput{
  padding-left:15px;
}
.fa-user, .fa-key{
  padding-top: 7px;
}
.forgotContact{
  font-size: 12px;
  color: #0066c0;

}