<form (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="large-1 columns">
            <i class="fa fa-arrow-circle-left" aria-hidden="true" (click)="backToConnection()"></i>
        </div>
        <div class="large-11">
            <label><h3>Forgot Password</h3></label>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <div class="row iconAndInput">
                <div class="iconContent large-1 medium-2 small-2 columns" data-equalizer-watch>
                    <i class="fa fa-envelope-o"></i>
                </div>
                <div class="inputContent large-11 medium-10 small-10 columns end " data-equalizer-watch>
                    <input type="text" name="login" [(ngModel)]="user.email"
                           placeholder="Email address"
                           required/>
                </div>
            </div>
        </div>
        <div class="info  large-12 columns ">
            <i class="fa fa-info-circle" aria-hidden="true"></i> You will receive an email with a generated password.
        </div>
    </div>
    <div class="buttonDiv row">
        <div class="large-6 medium-6 small-6 columns">
            <input type="submit" class="button expand" value="Send Password"/>
        </div>
        <div class="large-6 medium-6 small-6 medium-centered large-centered columns">
            <div class="forgotContact text-right">
                <a href="{{emailContent}}"> Contact us </a>
            </div>
        </div>
    </div>
</form>