@import "../../../../styles/main";
@import "../../../../styles/variables";

.main{
  h3, .title{
    text-align: center;
    a{

      color:white;
    }
    a:hover{
      opacity: 0.8;
    }
  }

  .title:hover{
  }

  .fa{
    font-style: normal;
    color:white;
    font-size: 150px;
    cursor: pointer;
  }

  .fa:hover{
    opacity: 0.5;
    transition: opacity 0.8s;
  }

  .description{
    color:white;
    text-align: center;
    padding-top: 7%;
  }
}


/**
* CSS for smartphone in landscape view
**/
@media only screen and (max-height:40em) {
  .main{

    h3{
      font-size: 25px;
    }

    .fa{
      font-style: normal;
      color:white;
      font-size: 50px;
    }
  }
}


/**
* CSS for smartphone in portrait view
**/
@media only screen and (max-width:400px) {
  .main{

    h3{
      font-size: 15px;
    }

    .fa{
      font-style: normal;
      color:white;
      font-size: 50px;
    }
  }
}