<br>
<div *ngIf="userManager_error">An error occurred while loading the users!</div>
<div class="row">
    <div class="large-10 large-centered medium-10 medium-centered small-10 small-centered">
        <table>
            <thead>
            <tr>
                <th width="150">Login</th>
                <th>Full name</th>
                <th width="150">Email address</th>
                <th width="150">Type</th>
                <th width="20"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.login}}</td>
                <td>{{user.full_name}}</td>
                <td>{{user.email_address}}</td>
                <td>{{user.type}}</td>
                <td>
                    <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="editUser(user.id)"></i>
                    <i class="fa fa-times" aria-hidden="true" (click)="deleteUser()"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>