<div class="row">
    <div class="large-offset-1 medium-offset-1 small-offset-1">
        <label>
            <h2> Add user</h2>
        </label>
    </div>
</div>
<div [hidden]="submitted">
    <div [hidden]="formCorrectlyFilled" class="row">
        <div class="filling_error large-4 large-offset-4 medium-4 medium-offset-4 small-4 small-offset-4 end ">
            <label class="error_message"> Please choose Metrics or/and Performance</label>
        </div>
    </div>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">

        <div class="row">
            <div class="large-4  medium-4 medium-offset-2 large-offset-2 columns">
                <label>Full Name
                    <input type="text" placeholder="First and last name" required
                           [(ngModel)]="user.fullName" ngControl="fullName" #spy/>
                </label>
            </div>
            <div class="large-4 medium-4 columns end">
                <div class="row collapse">
                    <label>Email address</label>
                    <div class="small-9 columns">
                        <input type="text" placeholder="" required [(ngModel)]="user.email"/>
                    </div>
                    <div class="small-3 columns">
                        <span class="postfix">@amadeus.com</span>
                    </div>
                </div>
            </div>
            <div class="large-4  medium-4 medium-offset-2 large-offset-2 columns">
                <label>Login
                    <input type="text" placeholder="" value="{{user.fullName | loginTransformation: tmp}}" disabled
                           [(ngModel)]="user.login"/>
                </label>
            </div>
            <div class="large-4 medium-4 columns end">
                <div class="row collapse">
                    <label>Optional email address</label>
                    <div class="small-9 columns end">
                        <input type="text" placeholder="" [(ngModel)]="user.emailOptional"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-3 large-offset-2  medium-2 medium-offset-2 end columns">
                <label> User type
                    <select [(ngModel)]="user.type" required>
                        <option *ngFor="let usertype of userTypesValues" ng-value="usertype">{{usertype}}</option>
                    </select>
                </label>
            </div>
            <div class="large-2 medium-2 small-8 small-offset-3 large-offset-0 medium-offset-0 columns ">
                <label>Send report</label>
                <select [(ngModel)]="user.sendReport" required>
                    <option *ngFor="let reportValue of reportsValues" ng-value="reportValue">{{reportValue}}</option>
                </select>
                <!--<input  id="yes" name="report" type="radio" class="postfix" [(ngModel)]="user.sendReport" value="yes" ><label for="yes">Yes</label>
                <input  id="no" name="report" type="radio" class="postfix" [(ngModel)]="user.sendReport" value="no" ><label for="no">No</label>
                -->
            </div>
            <div class="large-3  medium-4 small-8 small-offset-3 large-offset-0 medium-offset-0 columns end">
                <label>Part</label>

                <input id="metrics" type="checkbox" class="postfix" (click)="user.metrics= !user.metrics"><label
                    for="metrics">Metrics</label>
                <input id="performance" type="checkbox" class="postfix"
                       (click)="user.performance= !user.performance"><label for="performance">Performance</label>
                <!--<select>
                    <option *ngFor="let partWeb of websitePartsValues" value="partWeb">{{partWeb}}</option>
                </select>-->
            </div>

        </div>

        <br>
        <div class="row buttonRow">
            <div class="large-1 large-offset-5 medium-4 medium-offset-5 small-offset-4 end buttonCell">
                <button type="submit" class="button info" [disabled]="!userForm.form.valid">Submit</button>
            </div>
        </div>
    </form>
</div>

<div [hidden]="!submitted">
    <div class="row">
        <div class=" large-4 large-offset-2 medium-4 medium-offset-2 small-4 small-offset-2">
            <label> The user has been successfully added </label>
            <div *ngIf="userManager_error">An error occurred while loading the users!</div>
            <ul>
                <li *ngFor="let user of userManager">{{user.full_name}}</li>
            </ul>

        </div>
    </div>
</div>