
.classic {
  background-color: rgb(0, 99, 167);
}

h1 {

  font-family: 'Calibri', sans-serif;
  a{
    color: white;
  }
  a:hover{
    text-decoration:underline;
  }
  text-align: center;
}

.perf {
  padding-top: 10%;
}

.title {
  padding-top: 12%;
}

